<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Performance Log">
    <meta name="description" content="Performance Log">
    <meta name="author" content="© Rohan Kanhaisingh">
    <meta name="theme-color" content="#1d1d1d">
    <meta itemprop="name" content="Performance Log">
    <meta itemprop="description" content="Performance Log">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Performance Log">
    <meta name="twitter:description" content="Performance Log">
    <meta name="twitter:site" content="@Performance Log">
    <meta name="twitter:creator" content="@Performance Log">
    <meta property="og:title" content="Performance Log">
    <meta property="og:description" content="Performance Log">
    <meta property="og:image:width" content="100">
    <meta property="og:image:height" content="100">
    <meta property="og:site_name" content="Performance Log">
    <meta property="og:locale" content="en_EN">
    <meta property="fb:admins" content="100014582224180">
    <meta property="fb:app_id" content="118746002172806">
    <meta property="og:type" content="website">
    <title>Performance Log</title>
    <link href="../icons/favicon.png" rel="icon" />

    <!-- Font loader -->
    <link href="../../../fonts/index.css" rel="stylesheet" type="text/css" />
    <link href="main.css" rel="stylesheet" />
</head>
<body>
    <div class="app">
        <div class="container">
            <div class="app-navbar">
                <div class="container">
                    <div class="app-navbar-title">
                        <span>Performance Log</span>
                    </div>
                </div>
            </div>
            <div class="app-content">
                <div class="container">
                    <button class="btn">Yooooooo</button>
                </div>
            </div>
        </div>
    </div>

    <script src="./main.js"></script>
</body>
</html>