<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        html, body {
            font-family: Arial;
        }
        img {
            box-shadow: 7px 5px 10px #a1a1a1;
        }
    </style>
</head>
<body>
    <h1>How to enable Discord-Rich-Presence for Performance Log.</h1>
    
    <h3>Step 1: Go to the developers application website.</h3>
    <p>In order to use the Rich Presence feature, go to <a href="https://discord.com/developers/applications">https://discord.com/developers/applications</a>. Login with your Discord username and password and you will see a dashboard screen</p>

    <h3>Step 2. Create an application.</h3>
    <p>On your top right of the webpage you see a button to create an new application, click on that button.</p>
    <img src="https://cdn.discordapp.com/attachments/768890729375203410/782583131118632990/unknown.png"/>

    <h3>Step 3. Give your application a name.</h3>
    <p>When you pressed on the button to create an new application, you will see a popup on the center of your screen saying to enter a name. You can enter any name you want but this is a Performance Log application so you should enter 'Performance Log'.</p>
    <img src="https://cdn.discordapp.com/attachments/768890729375203410/782583967698255932/unknown.png"/>

    <h3>Step 4. Setup the application.</h3>
    <p>Once you gave your application a name, you will automatically be directed to the general-information tab. On that tab you can enter/edit the name, description and the app icon. You don't really have to do stuff in there except copying the client id on that tab. You need that ID to connect your Discord account to that application you made.</p>
    <img src="https://cdn.discordapp.com/attachments/768890729375203410/782585053468950528/unknown.png"/>

    <h3>Step 5. Add icons to your application.</h3>
    <p>On your left of your screen, you see a navigation menu with several buttons. Click on the 'Rich Presence' button. Once you pressed on that button, the rich-presence tab will show up. On that tab you can upload images (up to 100 images) you can use for the presence.</p>
    <p>Click on the blue button saying 'Add Image(s)' to upload an image. When you uploaded the image, you have the ability to name that image, rename it to 'icon'.</p>
    <img src="https://cdn.discordapp.com/attachments/768890729375203410/782587699450085376/unknown.png"/>
    <p><b>NOTE:</b> it may take a little while (3-6 minutes) for Discord to process the images you have uploaded.</p>

    <h3>Step 6. Final step</h3>
    <p>Save the changes you have made on the Discord Developer Applications website and head back to the Performance Log app. Go to the tab 'Settings' and scroll a bit down until you see the 'Enable Discord-Rich-Presence' button.</p>
    <p>Down the button there is an input field, you have to enter the client ID in it. Enter the copied client ID from the Discord Developers Application page, into the input field. When you enabled the presence <b>AND</b> when you entered the client ID input field, restart the application and you are good to go.</p>
    <img src="https://cdn.discordapp.com/attachments/768890729375203410/782588258218803230/unknown.png"/>
    
    <br />

    <p>If you have any issues with this, please contact me (Rohan Kanhaisingh). </p>
</body>
</html>