<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Performance Log">
    <meta name="description" content="Performance Log">
    <meta name="author" content="© Rohan Kanhaisingh">
    <meta name="theme-color" content="#1d1d1d">
    <meta itemprop="name" content="Performance Log">
    <meta itemprop="description" content="Performance Log">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Performance Log">
    <meta name="twitter:description" content="Performance Log">
    <meta name="twitter:site" content="@Performance Log">
    <meta name="twitter:creator" content="@Performance Log">
    <meta property="og:title" content="Performance Log">
    <meta property="og:description" content="Performance Log">
    <meta property="og:image:width" content="100">
    <meta property="og:image:height" content="100">
    <meta property="og:site_name" content="Performance Log">
    <meta property="og:locale" content="en_EN">
    <meta property="fb:admins" content="100014582224180">
    <meta property="fb:app_id" content="118746002172806">
    <meta property="og:type" content="website">
    <title>Performance Log</title>
    <link href="../style/index.css" rel="stylesheet" type="text/css" />

    <!-- Specific stylesheets -->
    <link href="../style/single.energy.css" rel="stylesheet" type="text/css" />

    <!-- Static stylesheets -->
    <link href="../style/static.background.css" rel="stylesheet" type="text/css" />
    <link href="../style/static.navbar.css" rel="stylesheet" type="text/css" />
    <link href="../style/static.stickytopnav.css" rel="stylesheet" type="text/css" />
    <link href="../style/static.loader.css" rel="stylesheet" type="text/css">
    <link href="../style/static.tab.css" rel="stylesheet" type="text/css" />

    <!-- Font loader -->
    <link href="../fonts/index.css" rel="stylesheet" type="text/css" />
</head>
<body class="essentials-loader essentials-themetoggle essentials-event-buttonAction gjs-body fireview-loaded body-static no-scroll">
    <div class="app">
        <div class="container">
            <div class="app-loader static-loader">
                <div class="container">
                    <div class="loader-background">
                        <div class="container grid-row-c10">
                            <div class="loader-grid-col"></div>
                            <div class="loader-grid-col"></div>
                            <div class="loader-grid-col"></div>
                            <div class="loader-grid-col"></div>
                            <div class="loader-grid-col"></div>
                            <div class="loader-grid-col"></div>
                            <div class="loader-grid-col"></div>
                            <div class="loader-grid-col"></div>
                            <div class="loader-grid-col"></div>
                            <div class="loader-grid-col"></div>
                        </div>
                    </div>
                    <div class="loader-foreground">
                        <div class="container">
                            <div class="container">
                                <div class="loader-spinner">
                                    <div class="container">
                                        <div class="loader-spinner-spin"><div class="container"></div></div>
                                        <div class="loader-spinner-spin"><div class="container"></div></div>
                                        <div class="loader-spinner-spin"><div class="container"></div></div>
                                        <div class="loader-spinner-text">
                                            <span>PL</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="app-background static-background">
                <div class="container static-background-container container-main-background">
                    <!--<div class="background-header background-01"></div>-->
                    <div class="background-header background-02">
                        <video src="../videos/video_smoke_e8VnfRp1v7QL.mp4" loop autoplay></video>
                    </div>
                </div>
            </div>

            <div class="app-foreground">
                <div class="container">
                    <div class="app-sticky-topnav">
                        <div class="topnav-container container">
                            <div class="topnav-title">
                                <span>PERFORMANCE LOG</span>
                            </div>
                            <div class="topnav-vl"></div>
                            <div class="topnav-description">
                                <span style="font-family: monospace; font-size: 12px;">[$g(System.Admin.DesktopName)]</span>
                            </div>
                            <div class="topnav-vl"></div>
                            <div class="topnav-itembox">
                                <div class="topnav-itembox-item topnav-itembox-item-ping">
                                    <div class="topnav-itembox-item-icon">
                                        <img src="../icons/icon_ping.png" />
                                    </div>
                                    <div class="topnav-itembox-item-content">
                                        <span>0ms</span>
                                    </div>
                                </div>
                                <div class="topnav-itembox-item topnav-itembox-item-refreshrate">
                                    <div class="topnav-itembox-item-icon">
                                        <img src="../icons/icon_refresh.png" />
                                    </div>
                                    <div class="topnav-itembox-item-content">
                                        <span>2s</span>
                                    </div>
                                </div>
                            </div>
                            <div class="topnav-vl"></div>
                            <div class="topnav-buttons">
                                <div class="topnav-button button-toggle toggle-darkmode" button-action="toggle-darktheme">
                                    <img src="../icons/icon_moon.png" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="app-main">
                        <div class="app-navbar static-navbar">
                            <div class="container">
                                <div class="navbar-scroller">
                                    <div class="navbar-hidebutton">
                                        <div class="navbar-hidebutton-icon button-navbar-collapse-toggle" button-action="navbar-collapse-toggle">
                                            <img src="../icons/icon_arrowleft.png" />
                                        </div>
                                        <div class="navbar-hidebutton-text">
                                            <span>HIDE MENU</span>
                                        </div>
                                    </div>
                                    <div class="navbar-button" button-action="requestPage:index">
                                        <div class="navbar-button-icon">
                                            <img src="../icons/icon_dashboard.png" style=" width: 25px;" />
                                        </div>
                                        <div class="navbar-button-title">
                                            <span>PERFORMANCE</span>
                                        </div>
                                    </div>
                                    <div class="navbar-button active">
                                        <div class="navbar-button-icon">
                                            <img src="../icons/icon_battery.png" style=" width: 20px;" />
                                        </div>
                                        <div class="navbar-button-title">
                                            <span>ENERGY USAGE</span>
                                        </div>
                                    </div>
                                    <div class="navbar-button">
                                        <div class="navbar-button-icon">
                                            <img src="../icons/icon_global.png" style="" />
                                        </div>
                                        <div class="navbar-button-title">
                                            <span>NETWORK</span>
                                        </div>
                                    </div>
                                    <div class="navbar-button" button-action="requestPage:commandline">
                                        <div class="navbar-button-icon">
                                            <img src="../icons/icon_commandline.png" style="" />
                                        </div>
                                        <div class="navbar-button-title">
                                            <span>COMMAND LINE</span>
                                        </div>
                                    </div>
                                    <div class="navbar-button" button-action="requestPage:settings">
                                        <div class="navbar-button-icon">
                                            <img src="../icons/icon_settings.png" style="" />
                                        </div>
                                        <div class="navbar-button-title">
                                            <span>SETTINGS</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="app-tabs static-tabs">
                            <div class="container">
                                <div class="tab tab-energy tab-main" tab-name="energy">
                                    <div class="tab-fluid tabtitle">
                                        <div class="tab-tabtitle">
                                            <span>ENERGY USAGE</span>
                                        </div>
                                        <div class="tab-tabtitle-hl"></div>
                                    </div>
                                    <div class="tab-fluid">
                                        <div class="tab-fluid-energy single-energy">
                                            <div class="container">
                                                <div class="big-battery-container">
                                                    <div class="container">
                                                        <div class="big-battery">
                                                            <div class="battery-level">
                                                                <div class="container battery-level-waves">
                                                                    <div class="battery-level-waves-wave"></div>
                                                                    <div class="battery-level-waves-wave"></div>
                                                                    <div class="battery-level-fixedbg"></div>
                                                                </div>
                                                            </div>
                                                            <div class="battery-overlay">
                                                                <div class="battery-overlay-header">
                                                                    <div class="container">
                                                                        <div class="battery-overlay-header-percentage">
                                                                            <span></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="battery-info">
                                                    <div class="battery-info-title">
                                                        <span>BATTERY INFORMATION</span>
                                                    </div>
                                                    <div class="battery-info-hl"></div>
                                                    <div class="battery-info-list"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="../js/g.js"></script>
    <script>$g = g.Selector, $ga = g.All; $gnoti = g.Notification; $gxhr = g.XHRLoad; $gcreat = g.CreateElement;</script>
    <script src="../js/jquery.js"></script>
    <script src="../js/energy/index.js" type="module"></script>
    <script src="../js/static.essentials.js" type="module"></script>
</body>
</html>